.div-cards{
    border: 3px solid #800505;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}
.div-card{
    width: 30%;
    min-width: 280px;
    border: 2px solid #f00;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 80%;
}
.img2{
    height: 100px;
}